<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-logo" id="logo"><%= link_to 'My_blog', root_path%></div>
    <div class="users-navbar">
      <% if admin_signed_in? %>
        <%= link_to 'admins', admins_root_path %>
        <%= link_to 'sign_out', destroy_admin_session_path, method: :delete %>
      <% else %>
        <% if user_signed_in? %>
        <%= link_to 'new_post', new_article_path%>
          <%= link_to 'sign_out', destroy_user_session_path, method: :delete %>
        <% else %>
        <%= link_to 'sign in', new_user_session_path, method: :get %>
        <% end %>
      <% end %>
    </div>
  </div>
</header>
