<%= form_for @article do |form| %>  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <div class="col-12 ">
      <%= form.text_area :text, type: 'text', class: 'quill_container'%>
    </div>
    <%= form.label :image %>
    <div class="col-12 ">
      <%= form.file_field :image %>
    </div>
    <div class="col-12">
      <%= form.submit class: 'btn btn-primary'%>
    </div>
<% end %>
<%= link_to 'Back', articles_path %>
