<div class="container">
<%= will_paginate %>
<% @articles.each do |article| %>
  <div class="feed_item">
<h3 class="title">  <%= article.title %></h3>

<%#<div class="author"><%= article.author %>
<div class="article">
<%=article.text.truncate(40, separator: /\s/) %>
</div>
    </div>
  <% end %>
<%= will_paginate %>
