<%= paginate @articles %>
<% @articles.each do |article| %>
  <div class="feed_item">
  <div class="container">
      <h3 class="title">  <%= article.title %></h3>
      <%#<div class="author"><%= article.author %>
      <div class="article">
      <%=article.text.truncate(40, separator: /\s/) %>
      </div>
      <%= image_tag(article.image.url, alt: 'Image') if article.image? %>
      <div class="controll-buttons">
        <%= link_to 'Show', article_path(article) %>
      </div>
    </div>
    </div>
  <% end %>
  <%= paginate @articles %>
