<%= form_with scope: :article, url: articles_path, local: true do |form| %>  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <div class="form-group">
          <%= form.hidden_field :text, type: 'text', class: 'quill_container'%>
    </div>
    <%= form.label :image %>
    <div class="col-12 ">
      <%= form.file_field :image %>
    </div>
    <div class="col-12">
      <%= form.submit class: 'btn btn-primary'%>
    </div>
<% end %>
<%= link_to 'Back', articles_path %>
