<%= form_with scope: :article, url: articles_path, local: true do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <div class="col-xs-12"><%= form.hidden_field :text %></div>
    <div class="col-xs-12"><%= form.label :category_id %>
      <%= form.select :category_id, options_for_select(Category.all.collect { |c| [ c.category, c.id ] }),
                                { :multiple => true , class: "input-lg"}%>
                                </div>
    <div id = "editor-container">
      <%= form.object %>
      </div>
      <script type="text/javascript">
        var quill = new Quill('#editor-container', {
          modules: {
            toolbar: [
              [{ header: [1, 2, false] }],
              ['bold', 'italic', 'underline'],
              ['image', 'code-block']
            ]
          },
          placeholder: 'Compose an epic...',
          theme: 'snow'
        });
        form  = document.querySelector('form');
        $('form').submit(function() {
          var field = $("#article_text");
          field.val(quill.root.innerHTML);
        });
    </script>
    <%= form.label :image %>
    <div class="col-12 ">
      <%= form.file_field :image %>
    </div>
    <div class="col-12">
      <%= form.submit class: 'btn btn-primary'%>
    </div>
<% end %>
<%= link_to 'Back', articles_path %>
