<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<p>
  <strong>author:</strong>
  <%= @article.user.username %>
</p>
<%= image_tag(@article.image.url, alt: 'Image') if @article.image?%><br>
<% if @article.image? == false %>
<%= image_tag('default.png')%><br>
<% end %>
<%= link_to 'Back', articles_path %>
