<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<p>
  <strong>author:</strong>
  <%= @article.user.username %>
</p>
<p>
  <h2>Comments</h2>
  <% @article.comments.each do |comment| %>
    <% if comment.moderation == true %>
    <p>
      <strong>Commenter:</strong>
      <%= comment.user.username %>
    </p>
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
  <h2>Add a comment:</h2>
    <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
    <p>
      <% form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
    <%= form.submit %>
    </p>
    <% end %>
  <% end %>
</p>
<%= image_tag(@article.image.url, alt: 'Image')%><br>
<%= link_to 'Back', articles_path %>
