<div class="container comment_item center-block feed_item">
  <div class="h2 title"><%= @article.title %></div>
  <div class="text-center"><%= image_tag(@article.image.url, alt: 'Image', class:'img-fluid')%></div>
  <div class="article"><%= @article.text.html_safe %></div>
  <div class="author text-right">Written by: <%= @article.user.username %></div>
  <div class="edit">
    <% if current_user == @article.user %>
      <%= link_to 'Edit', edit_article_path(@article) %>
    <% end %>
    <%= link_to '<i class="title fas fa-chevron-circle-left fa-2x"></i>'.html_safe, articles_path %>
  </div>
</div>
  <div class="h2 text-center">Comments</div>
  <% @article.comments.each do |comment| %>
    <div class="container comment_item">
      <div class="row">
        <div class="col-xs-12"><%= comment.body %></div>
      </div>
        <div class="blockquote text-right"><%= comment.user.username %></div>
    </div>
  <% end %>
     <% if user_signed_in? %>
     <div class="container comment_add center-block form-group">
     <h2>Add a comment:</h2>
       <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
        <div class="col-12">
          <% form.label :body %>
        </div>
        <div class="col-xs-6.col-sm-12.col-xs-12">
          <%= form.text_area :body, class: 'form-control', :rows => '3', placeholder: "Add your comment"%>
        </div>
        <div class="show-bfr-btn-pad col-12">
          <%= form.submit class: 'btn btn-primary'%>
        </div>
       <% end %>
     <% end %>
</div>
